#button{
    margin-top: 60px;
    border-radius: 10px;
    font-family: 'K26BonVoyage', sem serifa;
    
}
h1{
    font-family: 'K26BonVoyage', sem serifa;
    font-size: 40px;
                                                
    
}
#nome{
    margin-top: 60px;
   border-radius: 10px;
   font-family: 'K26BonVoyage', sem serifa;
}
#prof{
    margin-top: 60px;
    border-radius: 10px;
    font-family: 'K26BonVoyage', sem serifa;

}